*.o
*.so
*.pyd

.idea/

matrix_multiplication/__pycache__/
utils/__pycache__/
nms/__pycache__/
utils/nms/__pycache__/
nms/src/__pycache__/

.vscode/c_cpp_properties.json
nms/src/cpu_nms_pyx/build/


nms/src/cpu_nms_pyx/cpu_nms.c
nms/src/cpu_nms_pyx/cpu_soft_nms.c
tree.txt

fibonacci/build/

fibonacci/demo1/build/

fibonacci/demo2/build/

matrix_multiplication/build/

primes/__pycache__/

primes/build/
/nms/build/
/nms/cpu_nms.c
/nms/gpu_nms.cpp
/my_nms/
